$true-white : #ffffff;
$bg-100 : #e6e7ea;
$bg-200 : #c4c8cf;
$bg-300 : #adadad;
$bg-400 : #8a919e;
$bg-500 : #737a87;
$bg-600 : #606671;
$bg-700 : #586065;
$bg-800 : #3a3c41;
$bg-850 : #2f3135;
$bg-900 : #242628;
$true-black : #000000;

$bubble1 : #25ffcc;
$bubble1-border : #259986;
$bubble2 : #586065;

$post : #ffffff;