$true-white : #ffffff;
$bg-100 : #e6e7ea;
$bg-200 : #c4c8cf;
$bg-300 : #adadad;
$bg-400 : #8a919e;
$bg-500 : #737a87;
$bg-600 : #606671;
$bg-700 : #4c5057;
$bg-800 : #586065;
$bg-900 : #242628;
$true-black : #000000;
