@use '../config';
.app{
  display: flex;
  width: 100%;
  height: 100vh;

  flex-direction: row;
  justify-content: center;

  background-color: config.$color-bg-850;

  background-size: cover;

  h1.in-phone{
    position: relative;
    padding: 3rem;
    margin: 0;

    background-color: config.$color-bg-900;

    color: config.$color-green;
    font-size: 5rem;
  }

  & aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;

    & h1{
      width: 100%;
      padding: 1.9rem calc(50% + 5vw + 24.5rem) 1.9rem 2rem;
      margin: 0;

      background-color: config.$color-bg-900;

      color: config.$color-green;
      font-size: 4rem;
    }

    & h2{
      padding: 2rem calc(50% + 5vw + 24.5rem) 0 2rem;
      margin: 0;

      color: config.$color-bg-400;
      font-size: 2.4rem;
      text-align: right;
    }

    & #toc{
      width: 100%;
      padding: 1rem calc(50% + 5vw + 24.5rem) 1rem 2rem;

      list-style: none;
      text-align: right;

      & button{
        padding: 1rem 0;
        border: none;

        background-color: transparent;

        color: config.$color-bg-400;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: right;
        text-decoration: underline;

        transition: all .2s;

        &:hover{
          color: config.$color-green;
        }

      }
    }

  }



  & .authors{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3rem;

    color: config.$color-bg-500;
    font-weight: bold;
    text-align: right;

    &--in-phone{
      position: relative;
      padding: 3rem;

      text-align: center;
    }
  }
}
