@use '../config';
.container{
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;

  background-color: config.$color-bg-800;

  overflow: hidden;
  z-index: 100;


  @media (min-width : 500px) {
    width: calc(7vw + 45rem);
    border: .1rem solid config.$color-bg-700;
    border-radius: 3rem;
    margin: 2rem 0;
    box-shadow: config.$shadow-base;
  }

  &__scroll{
    width: 100%;

    height: 100%;

  }
}

.simplebar-content{
  display: flex;

  flex-direction: column;
  align-items: center;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background-color: config.$color-bubble1;
}