@use '../config';

.post{
  display: flex;
  width: calc(100% - 6rem);
  min-height: 8rem;
  border-radius: 2rem;
  margin: 3rem;

  flex-direction: column;

  background-color: config.$color-post;
  box-shadow: config.$shadow-low;
  overflow: hidden;

  & h3{
    padding: 1rem 2rem;

    font-size: 3rem;
    font-weight: bold;
  }

  & div{
    width: 100%;
    padding-top: 75%;

    background-color: config.$color-bg-500;
    background-size: cover;
  }
  & p {
    padding: 1rem 2rem;
  }
}