@use '../config';

.post{
  width: calc(100% - 4rem);
  min-height: 8rem;
  border: .2rem solid config.$color-bg-200;
  border-radius: 2rem;
  margin: 2rem;

  background-color: config.$color-post;
  box-shadow: config.$shadow-low;
}